Django==1.7
django-allauth==0.19.1
django-rest-auth==0.3.4
django-separatedvaluesfield==0.3.2
djangorestframework==3.1.1
oauthlib==0.7.2
passlib==1.6.2
python-openid==2.2.5
requests==2.6.0
requests-oauthlib==0.4.2
six==1.9.0
wsgiref==0.1.2